<!-- New Note -->
<div class="notes__compose">
  <button
    class="button"
    [disabled]="isCreate"
    (click)="createNewNoteEvent()"
  >New Note</button>
</div>

<!-- Nnotes -->
<ul class="notes__contain">
  <!-- List -->
  <ng-container *ngIf="notes && notes.length > 0; else empty">
    <li
      class="notes__listitem"
      [class.notes__listitem--active]="note === currNote"
      *ngFor="let note of notes"
    >
      <button class="notes__button" (click)="createNoteEvent(note)">
        <!-- Title -->
        <div class="notes__note-title">
          <div class="notes__overflow">{{ note.title }}</div>
        </div>

        <!-- Body -->
        <div class="notes__note-body">{{ note.body }}</div>
      </button>
    </li>
  </ng-container>

  <!-- Empty -->
  <ng-template #empty>
    <p class="notes__empty">No notes were found.</p>
  </ng-template>
</ul>