<!-- Header -->
<app-header [title]="title"></app-header>

<!-- Body -->
<div class="body">
  <div class="body__contain">
    <!-- Notes -->
    <app-notes
      [notes]="notes"
      [currNote]="currNote"
      [isCreate]="isCreate"
      (sendCreateNoteEvent)="getCreateNoteEvent($event)"
      (sendCreateNewNoteEvent)="getCreateNewNoteEvent()"
    ></app-notes>

    <!-- Form -->
    <app-form
      [currNote]="currNote"
      [isCreate]="isCreate"
      (sendFormEvent)="getFormEvent($event)"
      (sendDeleteEvent)="getDeleteEvent($event)"
    ></app-form>
  </div>
</div>

<!-- Footer -->
<app-footer [date]="date"></app-footer>
