<!-- Heading -->
<div class="form__header">
  <h2 class="form__heading">
    {{ isCreate ? 'New Note' : 'Edit Note: ' + currNote?.title }}
  </h2>
</div>

<!-- Form -->
<form
  [formGroup]="noteForm"
  #form="ngForm"
  autocomplete="off"
  (ngSubmit)="submitForm($event)"
>
  <!-- Title -->
  <mat-form-field [class.mat-form-field--error]="isSubmit && f.title.errors">
    <mat-label>Title</mat-label>
    <input
      type="text"
      formControlName="title"
      [disabled]="isSubmit"
      matInput
    />

    <!-- Error -->
    <mat-error *ngIf="isSubmit && f.title.errors">
      <ng-container *ngIf="f.title.errors.required">
        <i class="material-icons">error_outline</i>
        <span>Title is required.</span>
      </ng-container>
    </mat-error>
  </mat-form-field>

  <!-- Body -->
  <mat-form-field
    class="mat-form-field--textarea"
    [class.mat-form-field--error]="isSubmit && f.body.errors"
  >
    <mat-label>Body</mat-label>
    <textarea
      formControlName="body"
      [disabled]="isSubmit"
      matInput
    ></textarea>

    <!-- Error -->
    <mat-error *ngIf="isSubmit && f.body.errors">
      <ng-container *ngIf="f.body.errors.required">
        <i class="material-icons">error_outline</i>
        <span>Body is required.</span>
      </ng-container>
    </mat-error>
  </mat-form-field>

  <!-- Actions -->
  <div class="form__actions">
    <!-- Delete -->
    <ng-container *ngIf="!isCreate">
      <button
        class="button button--secondary"
        (click)="deleteNote()"
      >Delete</button>
    </ng-container>

    <!-- Save -->
    <button
      class="button form__action-button"
      type="submit"
    >Save</button>
  </div>
</form>
